/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilo do contêiner principal */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

/* Estilo dos grupos de formulário */
.form-group {
    margin-bottom: 15px;
}

/* Estilo dos rótulos */
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Estilo dos campos de entrada */
input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo dos botões */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo dos botões ao passar o mouse */
button:hover {
    background-color: #45a049;
}

/* Estilo da área de mensagens */
#mensagens {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

/* Estilo da área de troco */
#troco {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
